    .home-section {
        background-image: unset;
        height: unset;
        background-size: unset;
        background-position: unset;
        background-repeat: unset;
        padding-bottom: unset;
        position: relative;
    }

  
    .star-rating {
        color: #ffc107;
    }

    .buttons .btn {
        margin-right: 10px;
    }

    .rating-checkbox,
    .meals-checkbox,
    .beds-checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /*--- /.price-range-slider ---*/

    .nopad {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /*image gallery*/
    .amenities-checkbox {
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 4px solid transparent;
        margin-bottom: 0;
        outline: 0;
    }

    .amenities-checkbox input[type="checkbox"] {
        display: none;
    }

    .amenities .amenity {
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #F9F5E8;
        border-radius: 10px;
        margin: 1%;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 2px solid transparent;
        /* margin-bottom: 0; */
        outline: 0;
        overflow: hidden;
        padding-top: 10px;

    }

    .amenities-checkbox-checked {
        border-color: #cc940f !important;
    }

    .amenities-checkbox .fa {
        position: absolute;
        color: #cc940f;
        background-color: #fff;
        padding: 2px;
        top: 0;
        right: 0;
    }

    .amenities-checkbox-checked .fa {
        display: block !important;
    }

    .amenities {
        display: flex;
        flex-wrap: wrap;

    }

    .hidden {
        display: none !important;
    }

    .amenity .fas {
        color: #008270;
        font-size: 20px;

    }

    .amenity p {
        font-size: 13px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: center;
        margin-bottom: 0;

    }

    .bg-linear-gradient {
        background-color: #008270;
        min-height: calc(115vh - 80px);
    }

    .section-padding {
        padding-top: 100px;
    }

    footer {
        background-color: #008270;
        color: #F7F7F7;
        position: relative;
        bottom: 0;
        top: 0;
        width: 100%;
        min-height: 400px;
    }

    .bg-linear-gradient {
        background-color: #008270;
        height: calc(120vh - 80px);
        padding-bottom: 36px;
    }

    @media (max-width: 768px) {
        .bg-linear-gradient {
            background-color: #008270;
            height: calc(60vh - 80px);
            padding-bottom: 36px;
        }

        .bg-linear-gradient {
            min-height: calc(60vh - 80px);
        }

        .section-padding {
            padding-top: 100px;
        }
   
    }

    .cover-page-contact {
        width: 100%;
        background-color: #008270;
        color: #fff;
        min-height: 150px;
        padding-top: 35px;
    }

    .cover-page-contact-details {
        width: 100%;
        color: #fff;
        min-height: 200px;
        padding: 50px 70px;
        border: 1px solid #e1e1e1;
    }

    .form-contact input {
        border: 1px solid #e1e1e1;
    }

    .fa-location-dot,
    .fa-envelope,
    .fa-phone-volume {
        font-size: 65px;
    }

    .navbar .navbar-nav .nav-link {
        color: #000;
        font-size: 20px;
        font-weight: 700;
    }

    .navbar .offcanvas a:hover,
    .navbar .offcanvas a.active {
        color: #000;
    }
    .bg-event-details{
        background-color: #008270;
        min-height: 400px;
    }